﻿.popup {position:fixed;top:0;left:0;bottom:0;right:0;margin:auto;z-index:1001;display:none;font-size:18px;overflow:hidden;}
.popup h1,.popup h2,.popup h3,.popup h4,.popup h5,.popup h6 {font-weight:normal;}
.blackscene {background-color:#000;opacity:0.69;position:fixed;top:0;left:0;bottom:0;right:0;margin:auto;z-index:1000;display:none;}
.popup-side {float:left;color:#111;}
.block-login {background-color:#fff;max-width:400px;height:120px;border-radius:8px;padding:20px 35px;}
.block-login h3 {font-family: 'Roboto Condensed', sans-serif;text-transform:uppercase;font-size:1.3em;width:95%;border-bottom:solid 1px #e5e5e5;height:30px;color:#0088aa;margin-top:5px;}
.block-login p {margin:10px 0;}
.block-login input {background-color:#fff;width:95%;height:30px;border-radius:5px;border:solid 1px #e5e5e5;margin:3px 0px;padding:0 10px;}
.block-login-button {background-color:#f60 !important;height:40px !important;border-radius:5px;text-transform:uppercase;border:solid 1px #e5e5e5;color:#fff;}
.block-login-button:hover {opacity:0.9;}
.block-login form a {text-align:right;font-size:1em;height:30px;display:block;width:95%;line-height:30px;}
.right-side {height:100%;border-left:dotted 1px #efefef;padding-left:10px;}
.block-login h4 {font-family: 'Roboto Condensed', sans-serif;color:#414141;text-transform:uppercase;font-size:1em;width:100%;height:20px;margin:30px 0 0 0;}
.right-side ul {list-style:none;text-align:left;margin:10px 0 0 5px;padding:0;}
.right-side ul li {margin-bottom:5px;}
span.icon-social {width:20px;height:20px;display:inline-block;margin-right:5px;}
span.icon-social img {width:100%;height:100%;}
#btn-popup-reg {background-color:#900;height:30px;line-height:30px;text-transform:uppercase;border-radius:3px;border:solid 1px #e5e5e5;color:#fff;display:block;text-align:center;margin:5px 0 0 0;}
#btn-popup-reg:hover {opacity:0.9;}
.btn-popup-close {position:absolute;top:0px;right:5px;font-size:1.3em;color:#414141;width:20px;height:25px;display:block;opacity:0.5;overflow:hidden;}
.btn-popup-close:hover {opacity:1;}
a.btn-popup-close img {width:100%;height:100%;}

.block-reg {height:305px;}
.block-login form a {text-align:center;}