﻿.modal-dialog {
    width: 868px;
}

.modal-body {
    padding: 0;
}

.template-wrap {
    width: 1100px;
    margin: 0 auto;
    padding: 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: none;
    position: relative;
}

.loading {
    background: transparent url(assets/zenplay/images/loading_background.jpg) no-repeat scroll center center;
    bottom: 0;
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 1000;
}

    .loading img {
        height: 107px;
        left: 50%;
        margin-left: -50px;
        margin-top: -50px;
        position: absolute;
        top: 50%;
        width: 107px;
       -webkit-animation-name: spin; 
  -webkit-animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
    }

@-moz-keyframes spin {
    from {
        -moz-transform: rotate(0deg);
    }

    to {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}