﻿/* CSS Document */
@import url(https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed:300&subset=vietnamese,latin);

* {outline:none !important}
body {background-color:#fff;font-family: 'Roboto', sans-serif;font-size:14px;padding-top:84px}
a {transition:opacity ease 0.3s}
a:hover {text-decoration:none;color:inherit}
.container {position:relative;height:100%;overflow:hidden}
.wrapper {position:absolute;top:0;left:0;right:0;bottom:0;overflow:hidden;width:100%;height:100%}
.block-notext {display:block;text-indent:-9999px}

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {

}
.fb_iframe_widget_lift{z-index: 999 !important}
.page-nav{float: right}
.page-nav ul{float: left;margin-top:10px}
.page-nav ul li{float: left; list-style: none; padding: 3px}
.page-nav .active{pointer-events: none;cursor: default}

#header {width:100%;height:84px;background:#004060 url(../images/bg-header.jpg) no-repeat center top;background-position:auto 100%;position:fixed;top:0;z-index:1}
#logo-game {height:100%;width:175px;display:block;float:left}
#logo-game img {height:100%;width:auto}
#menu-nav {height:100%;float:right}
#menu-nav ul {list-style:none}
#menu-nav ul li {float:left;margin:0 2px}
#menu-nav ul > li > a {display:block;overflow:hidden;color:#fff;vertical-align:auto;padding:5px 15px;width:100% !important;font-size:1em;line-height:30px;height:40px;margin-top:22px;border-radius:20px;text-transform:uppercase;min-width:100px;text-align:center;font-family: 'Roboto Condensed',sans-serif}
#menu-nav ul > li > a.active {background-color:#ff9300}
.navbar-nav > li > a:hover {background-color:#ff9300}
.navbar-header {margin:0 !important}
.navbar-toggle {margin-right:0 !important}

.btn-header-small {height:80px;width:90px;border-left:solid 1px #069;padding:0;margin:0;text-align:center;color:#fff}
.icon-header-small {width:50px;height:50px;background:url(../images/icon-header-small.png) no-repeat;background-size:auto 50px;display:inline-block;text-indent:-9999px}
.icon-facebook {background-position:-177px 0}
.icon-search {background-position:-50px 0}
.icon-menu {background-position:-100px 0}

.dropdown-menu {width:100%;margin:0 !important}
.dropdown-menu > li {width:100%;margin:0 !important}
.dropdown-menu > li > a {padding:10px !important;color:#414141 !important;width:100%}

#menu-search {margin:10px 0;overflow:hidden;visibility:hidden}

.icon-header {width:25px;height:25px;display:inline-block;text-indent:-9999px;background:url(../images/icon-header.png) no-repeat}
.icon-header-news {background-position:0 0}
.icon-header-home {background-position:-25px 0}
.icon-header-info {background-position:-50px 0}
.icon-header-star {background-position:-75px 0}
.icon-header-vip {background-position:-100px 0}
#body-content {padding:20px 0 50px 0}
.col-nomargin {margin-left:0 !important;margin-right:0 !important;padding:0 !important}
.banner-big {background-color:#069;display:block;overflow:hidden}
.banner-big img {width:100%;height:auto}
.banner-big:hover img {opacity:0.8}

.contact-description {line-height:2em}

.title-news {height:44px;width:100%;background-color:#ccc;margin:10px 0;margin:0;border-bottom:solid 2px #ff9300;background: blueviolet}
.title-news > ul {list-style:none;margin:0;padding:0;height:100%}
.title-news > ul li {float:left}
.title-news > ul li a {min-width:110px;height:44px;text-align:center;line-height:28px;font-family: 'Roboto Condensed',sans-serif;color:#fff;font-size:1.2em;text-transform:uppercase;overflow:hidden}
.title-news > ul li a.active {background-color:#ff9300;color:#fff}
.title-news > ul li a:hover {background-color:#333;color:#fff}
.title-news > ul li a .icon-header {margin-top:10px}

.small-news {background-color:#eee;padding:10px;border:solid 1px #ddd;margin:10px 0}
.block-news-img {width:280px;height:185px;background-color:#222;float:left}
.block-news-img img {width:100%;height:100%}
.block-news-content {overflow:hidden;width:auto;height:100%;padding:0 20px;position:relative;min-height:185px}
.block-news-content > h3 {padding:0;margin:0;font-size:1.4em;line-height:26px}
.block-news-content > h3 a{color:#111}
.block-news-content > h3 a:hover {color:#ff9300}
.block-news-content > p {padding:0;margin:15px 0;color:#414141}
.block-news-tags {position:absolute;bottom:5px;left:15px;text-align:center;font-size:0.9em;color:#fff;display:block;padding:3px;width:80px;background-color:#ff9300}
.block-news-date {position:absolute;bottom:5px;right:15px;text-align:right;font-size:0.9em;color:#666}

.hot-news-big {width:100%;height:320px;background-color:#069}
.hot-news-big a {width:100%;height:100%;display:block;position:relative;overflow:hidden}
.hot-news-big a img {width:100%;height:auto}
.hot-news-big a span {width:100%;display:block;background-color:rgba(0,102,153,0.9);position:absolute;bottom:0;color:#fff;line-height:24px;font-size:1.4em;padding:20px 20px}
.hot-news-big a:hover span {background-color:rgba(255,147,0,0.9)}

.hot-news-small {width:100%;height:155px;background-color:#069;margin-bottom:10px}
.hot-news-small a {width:100%;height:100%;display:block;position:relative;overflow:hidden}
.hot-news-small a img {width:100%;height:auto}
.hot-news-small a span {width:100%;display:block;background-color:rgba(0,102,153,0.9);position:absolute;bottom:0;color:#fff;line-height:24px;font-size:1em;padding:8px 8px}
.hot-news-small a:hover span {background-color:rgba(255,147,0,0.9)}

.nopadding-left {padding-left:0 !important}

.search-block {height:45px;width:100%;border:solid 1px #ddd;overflow:hidden;position:relative;border-radius:5px}
.search-block input {height:45px;width:100%;border:none}
.search-block button {height:45px;width:45px;border:none;position:absolute;top:0;right:0;background:url(../images/btn-search.png) no-repeat 0 0;text-indent:-9999px}

.block-playnow {width:100%;height:auto;overflow:hidden;margin:10px 0;background-color:#000}
.block-playnow a {width:301px;height:125px;display:block}
.block-playnow a:hover {opacity:0.8}
.block-playnow a img {width:100%;height:auto}

.block-facebook {width:100%;height:auto;overflow:hidden;margin:10px 0}
.block-facebook > h4 {width:100%;height:48px;overflow:hidden;background:#069 url(../images/bg-title-block.jpg) no-repeat right center;padding:0;margin:0;color:#fff;line-height:48px;text-indent:10px;text-transform:uppercase;font-family: 'Roboto Condensed',sans-serif}
.block-facebook > .content {width:100%;height:500px;padding:5px;border:solid 1px #ccc;background-color:#eee}

#footer {height:auto;width:100%;overflow:hidden;background-color:#111}
#footer p {text-align:center;color:#666;font-size:1em;width:80%;margin:30px auto}
ul#menu-footer {width:100%;min-height:60px;list-style:none;font-family: 'Roboto Condensed', sans-serif;font-style:normal;font-weight:300;text-align:center;border-bottom:solid 1px #222;padding:0 0 20px 0;margin:0}
ul#menu-footer li {margin:auto 3px;height:60px;display:inline-block;text-align:center}
ul#menu-footer li a {color:#fff;text-transform:uppercase;font-size:1em;line-height:80px;opacity:.8}
ul#menu-footer li a:hover {opacity:1;color:#ff9300}

#block-install {height:100px;background-color:#eee;padding:10px;font-family:'Roboto Condensed', sans-serif}
#block-install .icon {height:100%;float:left;margin-right:15px}
#block-install .icon img {height:100%;width:auto}
#block-install .info {height:100%;float:left}
#block-install .info h3 {padding:0;margin:8px 0;line-height:24px;color:#000;font-family:'Roboto', sans-serif}
#block-install .info h4 {padding:0;margin:0;color:#414141;line-height:18px;font-size:1.1em}
#block-install .button {height:100%;float:right}
#block-install .button button {height:40px;width:69px;border:solid 2px #ccc;border-radius:10px;font-size:1em;text-transform:uppercase;margin:20px 0 0 15px;background-color:#fff}
#block-install .button button:hover {background-color:#333;border:solid 2px #111;color:#fff}

#block-float {height:auto;width:175px;position:fixed;top:40%;right:10px;z-index:2}
#block-float > ul {height:auto;width:100%;list-style:none;padding:0;margin:0}
#block-float > ul li {height:45px;width:175px;margin:2px 0;position:relative}
#block-float > ul li a {height:45px;width:45px;color:#fff;display:block;line-height:45px;border-radius:30px;text-align:right;padding-right:55px;text-indent:-9999px;background-color:none;overflow:hidden}
#block-float > ul li a:hover {height:45px;width:175px;text-indent:0;background-color:#222}
.icon-float {height:45px;width:45px;background:url(../images/button-float.png) no-repeat;background-size:45px auto;display:block;position:absolute;right:0}
.icon-float.icon-download {background-position:0 0}
.icon-float.icon-vip {background-position:0 -45px}
.icon-float.icon-facebook {background-position:0 -90px}
.icon-float.icon-top {background-position:0 -135px}

.navigation-menu {width:100%;height:45px;border-bottom:solid 1px #ddd}
.navigation-menu ul {width:100%;height:40px;list-style:none;line-height:40px;margin:0;padding:0}
.navigation-menu ul li {display:inline-block;margin:0 5px 0 0}
.navigation-menu ul li a {color:#414141;text-align:left}
.navigation-menu ul li a:hover {color:#ff9c00}

.block-content {padding:20px}
.block-content h4.title {font-size:2em}
.authorndate {font-size:1em;color:#666;float:left;height:26px;line-height:26px}
.authorndate strong {color:#ff9300}
.social {height:auto;float:right}
.social a {height:20px;margin:3px 0;color:#fff;min-width:55px;display:inline-block;padding-left:0;font-size:0.8em;line-height:20px}
a.messenger {background-color:#0084ff}
a.share span {height:100%;min-width:20px;display:inline-block;background-color:#fff;margin-left:5px;border:solid 1px #999;color:#414141;padding:0 5px}
.block-content p {margin:30px 0;line-height:22px;font-size:1em;color:#41414}
.block-content p img {width:100%}
.block-content .description {font-style:italic;clear:both}
.sample ul {line-height:30px;color:#ff9300}
.sample ul a {color:#ff9300}
.sample ul a:hover {color:#111}

.block-stream {height:800px;width:770px;display: block}

/*RESPONSIVE*/
@media (max-width: 1200px) {
	body {font-size:12px;padding-top:84px}
}
@media (max-width: 992px) {
	#menu-nav ul > li > a {padding:5px 10px;font-size:1em;min-width:80px}
	.block-news-img {width:182px;height:120px}
	.block-news-content {min-height:120px}
	.block-news-content > h3 {font-size:1.4em;line-height:22px}
	.block-news-content > p {display:none}
	.hot-news-big {height:288px}
	.hot-news-small {width:100%;height:139px;margin-bottom:10px}
}
@media (max-width: 768px) {
	body {font-size:12px;padding-top:0}
	.nopadding-left {padding-left:15px !important}
	#header {height:auto;position:relative}
	#logo-game {height:80px;width:200px}
	.hot-news-big {margin-bottom:10px}
	.hot-news-small {width:49%;height:155px;background-color:#069;margin-bottom:10px;float:left}
	.hot-news-small:first-child {margin-right:2%}
	#menu-nav {height:100%;float:none;width:100%}
	#menu-nav ul {list-style:none;margin:10px 0;padding:0;width:100%}
	#menu-nav ul li {float:none}
	#menu-nav ul > li > a {text-align:left;margin:5px 0}
	#menu-nav ul > li > a.active {background-color:#ff9300}
	#menu-search {visibility:visible}
}
@media (max-width: 550px) {
	#logo-game {height:50px;width:100px}
	.icon-facebook{background-position:-89px 0}
	.btn-header-small {height:50px;width:60px;border-left:solid 1px #069;padding:0;margin:0;text-align:center;color:#fff}
	.icon-header-small {width:25px;height:25px;background-size:auto 25px}
	.icon-search {background-position:-25px 0}
	.icon-menu {background-position:-50px 0}
	.small-news {padding:5px}
	.block-news-img {width:121px;height:80px}
	.block-news-content {min-height:110px}
	.block-news-content > h3 {font-size: 1em;line-height:18px}
	.block-news-tags {font-size:0.8em;width:60px}
	.block-news-date {font-size:0.6em}
}